body{
    
}

.subdropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    width: 300px;
}

.dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subdropdown:hover .subdropdown-content{
    width: 600px;
    display: block;
}

.subdropdown{
    display: flex;
}